.main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: transparent;
    position: relative;
    z-index: 1;

    .slidingImages {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        gap: 30px;

        .slider {
            display: flex;
            position: relative;
            width: 120vw;
            gap: 30px;

            .card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #f7f7f7aa;
                border-radius: 5px;
                padding: 10px 20px;
                transition: .5s;



                .header {
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;

                    img {
                        width: 50px;
                        height: auto;
                    }

                }

                .content {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: flex-start;

                    h1 {
                        margin: 0px;
                        font-size: 20px;
                        text-align: center;

                    }

                    p {
                        font-size: 15px;
                        font-weight: 350;
                        text-align: center;

                    }
                }

                &:hover {
                    transform: translateY(-10px);
                    background-color: hsl(216 12.2% 83.9%);
                }

            }
        }

    }

    .circleContainer {
        background-color: rgb(255, 255, 255);

    }

    svg {
        width: 100vw;
        height: auto;

        path {
            fill: #ffffff;
        }
    }

}


@media (max-width: 768px) {

    .main {
        .slidingImages {
            overflow-x: hidden;

        }
    }
}

@media (max-width: 426px) {

    .main {
        height: auto;
        
        .slidingImages {
            height: auto;
            margin-top: 0px;
            margin-bottom: 0px;


            .slider {


                .card {

                    .header {


                        img {
                            width: 30px;
                            height: auto;
                        }

                    }

                }
            }
        }

    }
}