.allcontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 70vh;
    margin: 0px auto;
    font-size: 62.5%;


    .container {
        margin: 0 auto;
        padding: 0px 50px 200px 0px;

        .images {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;


            .imageContainer {
                position: absolute;


                img {
                    object-fit: cover;
                    z-index: 1;
                }

                &:nth-of-type(1) {
                    height: 40vh;
                    width: 40vh;
                    z-index: 1;
                }

                &:nth-of-type(2) {
                    left: 3vw;
                    top: 15vh;
                    height: 30vh;
                    width: 30vh;
                    z-index: 2;
                }

                &:nth-of-type(3) {
                    right: 3vw;
                    top: 45vh;
                    height: 30vh;
                    width: 30vh;
                    z-index: 2;
                }
            }
        }
    }

    .containerArticle {
        z-index: 2;

        .bodyFirstArticle {

            width: 300px;
            padding-right: 50px;

            h1 {
                margin: 0px;
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 4.2em;
                text-transform: uppercase;

            }

            p {
                color: green($color: #7bc94e);
                margin: 0px;
                margin-top: 10px;
                font-size: 1.8em;
                text-align: left;
                font-family: "Inter", "Roboto Flex", sans-serif;
                font-weight: 300;

                span {
                    position: relative;
                }
            }
        }

        .bodySecondArticle {

            width: 350px;


            h1 {
                margin: 0px;
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 4.2em;
                text-transform: uppercase;
                text-align: right;

            }

            p {
                margin: 0px;
                margin-top: 10px;
                font-size: 1.8em;
                text-align: right;
                font-family: "Inter", "Roboto Flex", sans-serif;
                font-weight: 300;

                span {
                    position: relative;
                }
            }
        }

    }

}

.allcontentsmall{
    display: none;
}

@media (max-width:1024px) {
    .allcontent {
        font-size: 50%;

        .container {

            .imageContainer {

                .images {

                    &:nth-of-type(1) {
                        height: 30vh;
                        width: 30vh;
                        z-index: 1;
                    }

                    &:nth-of-type(2) {
                        left: 3vw;
                        top: 15vh;
                        height: 20vh;
                        width: 20vh;
                        z-index: 2;
                    }

                    &:nth-of-type(3) {
                        right: 3vw;
                        top: 45vh;
                        height: 20vh;
                        width: 20vh;
                        z-index: 3;
                    }

                }
            }
        }

        .containerArticle {

            .bodyFirstArticle {
                p {
                    font-size: 1.9em;

                }
            }

            .bodySecondArticle {
                width: 230px;

                p {
                    font-size: 1.9em;

                }

                h1 {
                    font-size: 3.5em;
                }
            }
        }
    }

}


@media (max-width:768px) {

    .allcontent {
        font-size: 45%;

        .containerArticle {

            .bodyFirstArticle {
                width: 200px;
            }

            .bodySecondArticle {
                width: 200px;
            }
        }

        .container {

            .images {

                .imageContainer {

                    &:nth-of-type(1) {
                        height: 30vh;
                        width: 30vh;
                        z-index: 1;
                    }

                    &:nth-of-type(2) {
                        left: 1vw;
                        top: 35vh;
                        height: 26vh;
                        width: 26vh;
                        z-index: 2;
                    }

                    &:nth-of-type(3) {
                        right: 3vw;
                        top: 45vh;
                        height: 25vh;
                        width: 25vh;
                        z-index: 3;
                    }


                }
            }
        }
    }
}

@media (max-width:426px) {

    .allcontent {
        display: none;
    }

    .allcontentsmall{
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 120vh;
        margin: 0px auto;
        font-size: 62.5%;
    
        .container {
            width: 90vw;
            margin: 0 auto;
            
    
            .images {
                display: flex;
                justify-content: center;
                margin-top: 200px;
                
    
    
                .imageContainer {
                    position: absolute;
                   
    
    
                    img {
                        object-fit: cover;
                        z-index: 1;
                    }
                    
    
                    &:nth-of-type(1) {
                        top: 1100px;
                        left: 230px;
                        height: 25vh;
                        width: 25vh;
                        z-index: 1;
                    }

                    &:nth-of-type(2) {
                        top: 1400px;
                        left: 300px;
                        height: 20vh;
                        width: 20vh;
                        z-index: 2;
                    }

                    &:nth-of-type(3) {  
                        left: 220px;                     
                        height: 20vh;
                        width: 20vh;
                        z-index: 1;
                    
                    }
                }
            }
        }
    
        .containerArticle {
            z-index: 2;
          

           
    
            .bodyFirstArticle { 
                position: absolute;
                margin-top: 100px;   
                width: 45vw;
    
                h1 {
                    margin: 0px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-size: 2em;
                    width: 130px;
                    text-transform: uppercase;
    
                }
    
                p {
                    margin: 0px;
                    margin-top: 10px;
                    font-size: 1.4em;
                    text-align: left;
                    font-family: "Inter", "Roboto Flex", sans-serif;
                    font-weight: 300;
    
                    span {
                        position: relative;
                    }
                }
            }
    
            .bodySecondArticle {
                position: absolute;    
                width: 75vw;
                right: 20px;
                margin-top: 180px;
                
    
    
                h1 {
                    margin: 10px 0px 20px 0px;
                    font-size: 3em;
                    text-transform: uppercase;
                    text-align: right;
    
                }
    
                p {
                    margin: 0px;
                    margin-top: 10px;
                    font-size: 1.4em;
                    text-align: right;
                    font-family: "Inter", "Roboto Flex", sans-serif;
                    font-weight: 300;
    
                    span {
                        position: relative;
                    }
                }
            }
        }
    }
}