.allContent {
    font-size: 62, 5%;
    width: 100vw;
    height: auto;
    margin: 0px auto;
    background-color: transparent;
    position: relative;
    z-index: 1;


    .titleContainer {
        width: 90vw;
        margin: 0px auto;

        h1 {
            font-family: "Inter", "Roboto Flex", sans-serif;
            font-size: 3.5em;
            font-weight: 400;
        }
    }


    .cardcontainer {
        width: 100vw;
        height: auto;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        gap: 30px;

        .linecontainer {
            width: 90vw;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
            gap: 30px;

            .card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #f7f7f7;
                border-radius: 5px;
                padding: 10px 20px;
                transition: .5s;



                .header {
                    height: 100%;
                    min-height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;



                    img {
                        width: 150px;
                        height: auto;
                    }



                }

                .content {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: flex-start;

                    h1 {
                        margin: 0px;
                        font-size: 20px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 350;
                    }
                }

                &:hover {
                    transform: translateY(-10px);
                    background-color: hsl(79.6 89.1% 89.2%);
                }

            }

        }
    }


    .buttoncontainer {
        width: 100vw;
        background-color: white;

        .button {
            width: 300px;
            margin: 0px auto;
            padding: 100px 0px;

            a {
                font-size: 1em;
                text-decoration: none;
                color: black;
            }
        }
    }

}

.containercurve {
    position: relative;
    z-index: 1;

    .circleContainer {
        background-color: rgb(255, 255, 255);

    }

    svg {
        width: 100vw;
        height: auto;

        path {
            fill: #ffffff;
        }
    }

}


@media (max-width:1024px) {

    .allContent {
        margin: 0px auto;


        .titleContainer {
            width: 80vw;

            h1 {
                font-size: 3em;
            }
        }

        .cardcontainer {


            .linecontainer {
                width: 80vw;
                flex-direction: column;
                margin: 0px;
                margin: 0px auto;


                .card {
                    width: auto;
                    height: auto;

                    .content {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        justify-content: flex-start;

                        h1 {
                            text-align: center;
                        }

                        p {
                            text-align: center;
                        }
                    }
                }

            }

        }
    }
}

@media (max-width:768px) {

    .allContent {

        .titleContainer {
            h1 {
                font-size: 2.5em;
            }
        }

        .buttoncontainer {
            width: 100vw;

            .button {
                width: 280px;

            }
        }
    }
}

@media (max-width:426px) {

    .allContent {
        width: 80vw;
        height: auto;
        margin-bottom: 700px;

        .titleContainer {
            margin-bottom: 70px;

            h1 {
                font-size: 1.8em;
            }
        }

        .cardcontainer {

            .linecontainer {


                .card {

                    .header {

                        img {
                            width: 100px;
                            height: auto;
                        }

                    }
                }
            }
        }

        .buttoncontainer {

            .button {
                width: 270px;

                a {
                    font-size: .95em;

                }
            }
        }
    }
}