@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&family=Quicksand:wght@400;600&family=Roboto:wght@400;600&family=Urbanist:wght@400;600&display=swap');

.allcontent {

    .headerContainer {
        font-size: 62.5%;
        width: 70vw;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;

        .company {

            h1 {
                font-size: 7em;
                font-weight: 350;
            }
        }

        .infoContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            gap: 70px;

            .info {
                width: 100%;

                .line {
                    width: 100%;
                    height: 1.5px;
                    background-color: rgb(201, 201, 201);
                }

                h2 {
                    text-transform: uppercase;
                    color: gray;
                    font-size: 1.1em;
                    letter-spacing: 1px;
                    font-weight: 450;
                    padding: 20px 0px;

                }

                p {
                    color: black;
                    font-size: 1.8em;
                    font-weight: 400;
                    padding: 20px 0px;
                }
            }
        }
    }


    .buttonContainer {
        position: absolute;
        left: calc(100% - 400px);
        top: calc(100% - 75px);
    }

    .button {
        width: 180px;
        height: 180px;
        background-color: hsl(80.9 88.5% 79.6%);
        color: black;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        p {
            margin: 0px;
            font-size: 1.6em;
            font-weight: 350;
            z-index: 2;
            position: relative;
            text-align: center;
        }
    }

    .imageContainer {
        margin: 100px auto;

        .modal {
            width: 90vw;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;

            img {
                width: 550px;
                height: 170px;
                padding: 10px;
            }
        }
    }

}


@media (max-width:1024px) {

    .allcontent {
        width: 80vw;
        margin: 0px auto;


        .headerContainer {

            .infoContainer {
                flex-direction: column;
                gap: 0px;

            }
        }

        .buttonContainer {
            position: absolute;
            left: calc(100% - 180px);
            top: calc(100% + 550px);
        }

        .button {
            width: 150px;
            height: 150px;

            p {
                font-size: 1.5em;
            }
        }

        .imageContainer {

            .modal {
                width: 100%;

                img {
                    width: 300px;
                    height: auto;

                }
            }
        }
    }

}

@media (max-width:768px) {

    .allcontent {
        .headerContainer {
            width: 75vw;

            .company {

                h1 {
                    font-size: 5.5em;

                }
            }

            .infoContainer {

                .info {

                    h2 {
                        padding: 2.6vw 12vw 1.3vw 0vw;

                    }

                    p {
                        font-size: 1.59em;
                    }
                }
            }

        }


        .buttonContainer {
            left: calc(100% - 200px);
            top: calc(100% + 400px);
        }


    }
}

@media (max-width:426px) {

    .allcontent {
        height: auto;
        padding-bottom: 80px;

        .headerContainer {
            width: 80vw;
            margin-top: 140px;

            .company {

                h1 {
                    font-size: 3.3em;
                    font-weight: 450;
                }

            }

            .infoContainer {
                flex-direction: column;
                gap: 10px;
                margin-top: 0px;

                .info {

                    .line {
                        height: 1.1px;
                        background-color: rgb(215, 215, 215);
                    }

                    h2 {
                        font-size: .95em;
                        font-weight: 400;
                    }

                    p {
                        font-size: 1.5em;
                        font-weight: 420;
                        padding: 0px;
                    }
                }

            }

        }

        .imageContainer {
            margin-bottom: 50px;
            margin-top: 50px;

            .modal {
                height: 40vh;

                img {
                    width: 250px;
                    height: auto;

                }
            }
        }

        .buttonContainer {
            position: absolute;
            left: calc(100% - 110px);
            top: calc(100% - 100px);
        }

        .button {
            width: 100px;
            height: 100px;

            p {
                font-size: 1.3em;
            }
        }
    }
}