.content {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .cursor,
    .cursorLabel {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: white;
        position: fixed;
        left: -500px;
        top: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        font-weight: 300;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }

    .cursorLabel {
        background-color: transparent;
    }


    .allContentLink {
        z-index: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: white;

        a {
            text-decoration: none;
            color: inherit;
        }

        .smallProject {
            display: none;
        }

        .projects {
            height: 100%;
            font-size: 62.5%;
            width: 90vw;
            margin: 0px auto;

            .projectHeaderContainer {
                padding: 25px 25px 25px 150px;
                display: grid;
                grid-template-columns: repeat(1, 2fr) repeat(3, 1fr);
                grid-template-rows: 50px;
                gap: 10px;
                border-bottom: 1.5px solid rgb(171, 171, 171);

                .header {
                    text-transform: uppercase;
                    color: gray;
                    font-size: 1em;
                    letter-spacing: 1px;
                }
            }

            .projectContent {
                position: relative;

                .projectsContentContainer {
                    padding: 20px 25px 20px 150px;
                    display: grid;
                    grid-template-columns: repeat(1, 2fr) repeat(3, 1fr);
                    grid-template-rows: 80px;
                    gap: 10px;
                    font-weight: 400;
                    align-items: center;
                    border-bottom: 1.5px solid rgb(171, 171, 171);
                    position: relative;
                    transition: 0.5s;

                    .content {
                        transition: 0.5s;
                        font-weight: 300;
                        font-size: 2em;
                    }

                    .company {
                        transition: 0.5s;
                        font-size: 3em;
                    }


                }

                &:hover {
                    .company {
                        transition: 0.5s;
                        margin-left: 10px;
                    }

                    .content {
                        transition: 0.5s;
                        margin: 10px;
                    }
                }

            }
        }
    }

    .circleContainer {
        background-color: rgb(255, 255, 255);

    }

    svg {
        width: 100vw;
        height: auto;

        path {
            fill: #ffffff;
        }
    }

}

@media (max-width: 1024px) {
    .allContentLink {

        .projects {
            .projectHeaderContainer {
                padding: 25px 25px 25px 80px;
            }

            .projectContent {
                .projectsContentContainer {
                    padding: 20px 25px 20px 80px;

                    .content {
                        font-size: 1.5em;
                    }

                    .company {
                        font-size: 2.5em;
                    }


                }

            }
        }
    }
}


@media (max-width: 768px) {
    .allContentLink {
        margin-bottom: 800px;

        .projects {
            font-size: 53%;
        }
    }
}

@media (max-width: 426px) {
    .allContentLink {

        .projects {
            display: none;
        }

        .smallProject {
            display: contents;
            align-items: start;
            flex-direction: column;
            font-size: 50%;
            font-weight: 450;
            justify-content: left;
            margin-top: 0;

            .modalSlider {
                display: flex;
                width: 80vw;
                margin-left: auto;
                margin-right: auto;
                height: 40vh;

                .modal {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    width: 200px;
                    height: auto;
                    padding: 10px;
                }
            }

            .smallContent {
                width: 80vw;
                margin-left: auto;
                margin-right: auto;
                font-size: 2.4em;
                margin-bottom: 100px;

                h2 {
                    font-weight: 400;
                }

                p {
                    font-weight: 300;
                }

                .line {
                    width: 100%;
                    height: 2px;
                    background-color: rgb(211, 211, 211);
                }
            }
        }
    }
}