.allContent {
    font-size: 62, 5%;
    width: 90vw;
    height: 80vh;
    margin: 0px auto 200px auto;

    .titleContainer {
        margin-bottom: 100px;

        h1 {
            font-family: "Inter", "Roboto Flex", sans-serif;
            font-size: 3.5em;
            font-weight: 400;
        }
    }

    .cardContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .card {
            width: 380px;
            height: 380px;
            background-color: #f2f2f2;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .5s;

            .contentCard {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 25px;
                text-align: center;
                gap: 10px;

                .iconCard1,
                .iconCard2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;

                    img {
                        width: 200px;
                        height: 200px;

                    }



                }

                .iconCard3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;

                    img {
                        width: 240px;
                        height: 140px;

                    }
                }

                .articleCard {
                    height: 100px;


                    p {
                        font-family: "Inter", "Roboto Flex", sans-serif;
                        font-size: 1em;
                        font-weight: 400;
                        color: #5b5b5b;

                    }
                }
            }
        }

        .card:hover {
            transform: translateY(-10px);

        }

    }


    .button {
        width: 300px;
        margin: 100px auto;

        a {
            font-size: 1em;
            text-decoration: none;
            color: black;
        }
    }

}

@media (max-width:1024px) {

    .allContent {
        .titleContainer {
            h1 {
                font-size: 3em;
            }
        }

        .cardContainer {

            .card {
                width: 280px;
                height: 290px;

                .contentCard {
                    height: 100%;

                    .iconCard1,
                    .iconCard2 {

                        img {
                            width: 170px;
                            height: 170px;

                        }
                    }

                    .iconCard3 {
                        width: 210px;
                        height: 110px;
                        margin-bottom: 30px;
                        margin-top: 10px;

                        img {
                            width: 210px;
                            height: 110px;
                        }

                    }

                    .articleCard {
                        height: 100%;
                        width: 100%;

                        p {
                            font-size: .9em;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .button{
            width: 280px;

        }
    }
}

@media (max-width:768px) {

    .allContent {
        .titleContainer {
            h1 {
                font-size: 2.5em;
            }
        }

        .cardContainer {

            .card {
                width: 220px;
                height: 250px;

                .contentCard {
                    height: 100%;

                    .iconCard1,
                    .iconCard2 {

                        img {
                            width: 150px;
                            height: 150px;

                        }
                    }

                    .iconCard3 {
                        width: 180px;
                        height: 100px;
                        margin-bottom: 30px;
                        margin-top: 10px;

                        img {
                            width: 210px;
                            height: 100px;
                        }

                    }

                    .articleCard {
                        height: 100%;
                        width: 100%;

                        p {
                            font-size: .8em;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .button{
            width: 280px;

        }
    }
}

@media (max-width:426px){

    .allContent{
        height: 120vh;

        .titleContainer{
            margin-bottom: 70px;

            h1{
                width: 80vw;
                font-size: 2em;
            }
        }

        .cardContainer{
            flex-direction: column;
            gap: 20px;

            .card{
                width: 90vw;
                height: 30vh;

                .contentCard{
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .iconCard1,
                    .iconCard2,
                    .iconCard3{
                        width: 50%;
                        height: 100%;

                        img{
                            width: 140px;
                            height: 140px;
                        }
                    }

                    .iconCard2{

                        img{
                            margin-right: 10px;
                            width: 160px;
                            height: 160px;
                        }
                    }


                    .iconCard3{
                        img{
                            margin-top: 15px;
                            margin-right: 10px;
                            width: 185px;
                            height: 100px;
                        }
                    }

                    .articleCard{
                        width: 50%;
                        height: 120px;
                        margin: auto 0px;
                        justify-content: center;
                        align-items: center;
                        display: flex;

                        p{
                            font-size: .9em;
                        }

                        
                    }

                }

                
            }

        }

        .button{
            width: 270px;

            a{
                font-size: .95em;

            }
        }
    }


}