.allContent {
    font-size: 62, 5%;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    background-color: white;
    position: relative;
    z-index: 1;

    .titleContainer {
        width: 90%;
        margin: 0px auto;
        margin-bottom: 100px;

        h1 {
            font-family: "Inter", "Roboto Flex", sans-serif;
            font-size: 3.5em;
            font-weight: 400;
        }
    }

    .cardcontainer {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0px auto;
        flex-direction: column;
        background-color: white;
        gap: 30px;

        .linecontainer {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: row;
            margin: 0px auto;
            gap: 30px;

            .card {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #f7f7f7;
                border-radius: 5px;
                padding: 10px 20px;
                transition: .5s;



                .header {
                    height: 100%;
                    min-height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;



                    img {
                        width: 100px;
                        height: auto;
                    }



                }

                .content {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: flex-start;

                    h1 {
                        margin: 0px;
                        font-size: 20px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 350;
                    }
                }

                &:hover {
                    transform: translateY(-10px);
                    background-color: hsl(79.6 89.1% 89.2%);
                }

            }

        }
    }

    .buttoncontainer {
        width: 100vw;
        background-color: white;

        .button {
            width: 300px;
            margin: 0px auto;
            padding: 100px 0px 0px 0px;

            a {
                font-size: 1em;
                text-decoration: none;
                color: black;
            }
        }
    }

}

.containercurve {
    position: relative;
    z-index: 1;


    .circleContainer {
        background-color: rgb(255, 255, 255);

    }

    svg {
        display: block;
        width: 100vw;
        height: auto;


        path {
            fill: #ffffff;
        }
    }

}


@media (max-width:1024px) {

    .allContent {
        width: 100vw;

        .titleContainer {
            h1 {
                font-size: 3em;
            }
        }

        .cardcontainer {
            width: 100vw;

            .linecontainer {
                width: 80vw;
                display: flex;
                flex-direction: column;
                margin: 0px auto;
                padding: 0px;
                align-items: center;
                justify-content: center;


            }

        }
    }
}

@media (max-width:768px) {

    .allContent {

        .titleContainer {
            width: 80vw;

            h1 {
                font-size: 2.5em;
            }
        }

        .cardcontainer {

            .linecontainer {


                .card {
                    width: auto;
                    height: auto;

                }
            }
        }

        .buttoncontainer {

            .button {
                width: 280px;
                padding: 100px 0px;

            }
        }
    }
}

@media (max-width:426px) {

    .allContent {
        width: 100vw;

        .titleContainer {
            margin-bottom: 70px;

            h1 {
                font-size: 1.8em;
            }
        }

        .cardcontainer {

            .linecontainer {

                .card {

                    .header {

                        img {
                            width: 100px;
                            height: auto;
                        }

                    }
                }
            }
        }

        .buttoncontainer {

            .button {
                width: 270px;

                a {
                    font-size: .95em;

                }
            }
        }
    }


}