.header{
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    color: white;
    padding: 35px;
    justify-content: space-between;
    width: 100vw;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
    text-decoration-style: solid;
    font-weight: 450;

    .logoWhite{
        opacity: 0;
        transition: 1s;
    }

    .logoWhiteActive{
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 1;
        transition: opacity 1s;
        position: absolute;

        .imageContainer{
            width: 50px;
            height: 50px;
            position: relative;
            }
        p{
            margin: 0px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        img{
            left: 10%;
            display: flex;
            justify-content: left;
            
        }
        .name{
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            p{
                position: relative;
                transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }

    }
    
    .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 1;
        transition: 1s;

        .imageContainer{
            width: 50px;
            height: 50px;
            position: relative;
            }
        p{
            margin: 0px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        img{
            left: 10%;
            display: flex;
            justify-content: left;
            
        }
        .name{
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            p{
                position: relative;
                transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }
    
    }

    .logoActive{
        opacity: 0;

    }


    .nav{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);        
        }

        .el{
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;

            &:hover{
                .indicator{
                    transform: scale(1);
                }
            }

            &:target{
                .indicator{
                    transform: scale(1);
                }
            }

            .indicator{
                position: absolute;
                width: 5px;
                height: 5px;
                top: 45px;
                left: 50%;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
                transform: scale(0) translateX(-50%);
                transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }
        a{
            cursor: pointer;
        }
    } 
}
.headerButtonContainer{
    transform: scale(0);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 4;

    .button{
        position: relative;
        margin: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #1C1D20;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .burger{
        width: 100%;
        position: relative;
        z-index: 1;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }
    
        &::after{
            top: -5px;
        }
    
        &::before{
            top: 5px;
        }

    }
    
    .burgerActive{
    
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }
    
        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}



@media (max-width: 426px) {
    .header {

        z-index: 4;
        width: 100vw;

        .nav {
            display: none;
            text-align: center;

            a {
                transition-duration: 0.5s;
                font-size: 1.5em;
                line-height: 1em;

            }
        }
    }

    .menuToggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        height: 30px;


        .one,
        .two,
        .three {
            background-color: rgb(255, 255, 255);
            height: 2px;
            width: 100%;
            transition: 0.3s, background-color 2s ease;

        }
    }


    .menuToggleActive {

        .one {
            transform: rotate(45deg) translate(9px, 7px);
            background-color: white;
        }

        .two {
            opacity: 0;
            background-color: white;
        }

        .three { 
            transform: rotate(-45deg) translate(7px, -6px); 
            background-color: white;
        }


        .imageContainer { 
            display: none;
        }
    }

    .headerActive{
        position: fixed;
    }
}
