    .projectWrapper {
        width: 100vw;
        margin: 0px auto;
        display: flex;
        flex-direction: column;

        .mobileImage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0px auto;
            height: 250px;
            background-color: #f7f7f7;


            img {
                width: 70%;
                padding: 50px;
                height: auto;
                object-fit: cover;
                border-radius: 12px;
            }
        }

        .mobileImage {
            display: none;
        }

    }


    .project {
        font-size: 62.5%;
        display: flex;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(201, 201, 201);
        cursor: pointer;
        transition: all 0.2s;
        padding: 30px;




        .modalSlider {
            display: none;
        }

        .modal {
            display: none;
        }

        h2 {
            font-size: 4.8em;
            margin: 0px;
            font-weight: 400;
            transition: all 0.4s;
        }

        p {
            font-size: 2.8em;
            transition: all 0.4s;
            font-weight: 300;
        }

        &:hover {
            opacity: 0.5;

            h2 {
                transform: translateX(-10px);
            }

            p {
                transform: translateX(10px);
            }
        }

        &:last-of-type {
            border-bottom: 1px solid rgb(201, 201, 201);
        }


    }


    @media (max-width: 770px) {

        .projectWrapper {
            width: 80vw;
            margin: 30px auto;


            .mobileImage {
                display: flex;
            }

        }

        .project {
            width: 100%;
            align-items: start;
            flex-direction: column;
            font-size: 50%;
            font-weight: 450;
            border-top: 0px;
            justify-content: left;
            margin-top: 0;
            padding: 0px;


            .modalSlider {
                display: flex;
                width: 90vw;
                height: 50vh;


                .modal {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .modal img {

                    height: auto;
                    width: 250px;
                    height: 75px;
                    padding: 10px;
                }

            }

            h2 {
                margin: 17px 0px 17px 0px;
            }

            &:hover {
                opacity: 0.5;

                h2 {
                    transform: translateX(10px);
                }

                p {
                    transform: translateX(10px);
                }
            }

            span {
                width: 100%;
                height: 1.5px;
                background-color: rgb(211, 211, 211);
            }

            &:last-of-type {
                border: 0px;
            }
        }
    }