.description {
    width: 70vw;
    height: auto;
    margin: 200px auto 100px auto;
    display: flex;
    justify-content: left;

    h2 {
        margin: 0;
        font-size: 60px;
        gap: 8px;
        line-height: 1.3;
        font-weight: 470;
    }

    span {
        margin-right: 3px;
    }

}


@media (max-width: 768px) {

    .description {
        h2 {
            font-size: 30px;
        }
    }

}

@media (max-width: 426px) {

    .description {
        width: 80vw;


    }
}